<div class="fixed bg-white shadow-sm h-[72px] bottom-0 left-0 right-0 p-3 pt-4 border-t border-gray-100">
  <div class="flex justify-around items-center">
    <a routerLink="/">
      <img src="/assets/svg/home.svg" alt="home" />
    </a>
    <a routerLink="/">
      <img src="/assets/svg/connection.svg" alt="connection" />
    </a>
    <a routerLink="/" class="w-9 h-9 rounded-full bg-gradient-to-r from-primary to-lightPrimary flex justify-center items-center">
      <img src="/assets/svg/plus.svg" alt="plus" />
    </a>
    <a routerLink="/">
      <img src="/assets/svg/chat.svg" alt="chat" />
    </a>
    <a routerLink="/">
      <img src="/assets/svg/favorite.svg" alt="favorite" />
    </a>
  </div>
</div>
