<header id="header1" class="fixed top-0 left-0 right-0 z-10 p-4 max-w-screen-sm m-auto" scrollHeader>
  <div class="flex justify-between">
    <img src="/assets/svg/user.svg" alt="user" />
    <h2 class="text-white font-bold text-lg underline">Job Finder</h2>
  </div>
</header>
<header
  id="header2"
  class="fixed top-0 left-0 right-0 z-10 p-4 bg-white shadow-sm max-w-screen-sm m-auto"
  scrollHeader
>
  <div class="flex justify-between">
    <img src="/assets/svg/user-primary.svg" alt="user" />
    <h2 class="text-black font-bold text-lg underline">Job Finder</h2>
  </div>
</header>
