<div>
  <app-top-bg>
    <div class="text-xl px-4">
      <h1 class="text-white font-bold pt-16 mb-4">
        Find the job you've always dreamed of
      </h1>
      <div class="flex justify-between items-center gap-3">
        <app-search-input
          placeholder="Search"
          class="flex-1"
        ></app-search-input>
        <c-button svg="filter" type="secondary"></c-button>
      </div>
    </div>
  </app-top-bg>

  <div class="px-4 my-4">
    <app-section-title
      title="Specialization"
      routerLink="/auth/login"
      routerLinkText="View all"
    ></app-section-title>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 mb-4">
      <div class="col-span-1" *ngFor="let category of categories">
        <app-category-btn
          [svg]="category.svg"
          [title]="category.title"
          [jobCount]="category.jobCount"
        ></app-category-btn>
      </div>
    </div>

    <app-section-title title="Job Recommendation"></app-section-title>

    <app-job-box *ngFor="let job of jobs" [job]="job"></app-job-box>
  </div>
</div>
