<div>
  <app-top-bg>
    <div class="text-xl px-4">
      <h1 class="text-white font-bold pt-16 mb-4">
        Find the job you've always dreamed of
      </h1>
      <div class="flex justify-between items-center gap-3">
        <app-search-input
          placeholder="Search"
          class="flex-1"
        ></app-search-input>
        <c-button svg="filter" type="secondary"></c-button>
      </div>
    </div>
  </app-top-bg>

  <div class="px-4 my-4">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-darkText font-bold text-lg">Specialization</h3>
      <a [routerLink]="['/auth/login']" class="text-lightGray text-sm"
        >View all</a
      >
    </div>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
      <div class="col-span-1" *ngFor="let category of categories">
        <app-category-btn
          [svg]="category.svg"
          [title]="category.title"
          [jobCount]="category.jobCount"
        ></app-category-btn>
      </div>
    </div>
  </div>
</div>
